absl-py==0.11.0
aio-pika==6.8.0
aiofiles==0.6.0
aiohttp==3.6.3
aiormq==3.3.1
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
audioread==2.1.9
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.1
catalogue==2.0.4
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
cloudpickle==1.6.0
clyent==1.2.2
colorama==0.4.4
colorclass==2.2.0
coloredlogs==14.3
colorhash==1.0.3
comtypes==1.1.9
conda==4.10.3
conda-build==3.21.4
conda-verify==3.4.2
ConfigArgParse==1.5.1
cryptography==3.4.6
cycler==0.10.0
cymem==2.0.5
face-alignment==1.3.4
fastcache==1.1.0
fbmessenger==6.0.0
ffmpeg-normalize==1.22.1
httplib2==0.19.0
httptools==0.1.1
httpx==0.15.4
matplotlib==3.3.4
mattermostwrapper==2.2
mccabe==0.6.1
mediapipe==0.8.4.2
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.0
numpy==1.18.4
numpy-stl==2.16.0
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
pathspec==0.7.0
pathtools==0.1.2
pathy==0.5.2
patsy==0.5.1
pep8==1.7.1
Pillow==8.0.1
pixellib==0.6.6
pkginfo==1.7.0
ply==3.11
pooch==1.3.0
preshed==3.0.5
proglog==0.1.9
prompt-toolkit==2.0.10
protobuf==3.15.2
PyPDF2==1.26.0
pyperclip==1.8.2
pyreadline==2.1
PyRect==0.1.4
pyrsistent==0.17.3
questionary==1.5.2
rasa==2.3.3
rasa-sdk==2.3.1
redis==3.5.3
regex==2020.9.27
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.2
rfc3986==1.4.0
statsmodels==0.12.2
